<div style="display: flex;">

  <div style="flex: 1 1 0px;">

    <img [src]="heroImgSrc" style="width: 100%;">

    <br />

    <div *ngFor="let imageUrl of product?.imageUrls" style="display: inline-flex;">
      <img (click)="heroImgSrc = imageUrl" [src]="imageUrl" style="cursor: pointer; margin: 4px 0 0 8px; width: 100px;">
    </div>

  </div>

  <div style="flex: 1 1 0px; padding: 40px;">

    <h1>{{ product.name }}</h1>
    <h3>$ XXX.xx</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quaerat nobis impedit sunt perspiciatis mollitia modi vel velit totam. Non ullam nihil at totam, eius minus dolores adipisci voluptatibus odit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed sequi optio maiores? Praesentium reiciendis magni repellendus laboriosam natus provident ex assumenda, ipsam vitae dolore officia voluptatibus, ullam qui incidunt molestias.</p>
    <button color="primary" mat-raised-button type="button">BUY NOW</button>

  </div>

</div>
